.backgroundImg {
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  z-index: -9;
  /* background-image: url("/public/back.png"); */
  /* background: cover; */
  /* width: 100vw; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
.containerAll {
  background: linear-gradient(60deg, #fa7268 40%, #c62368 50%, #001220 70%);
}
.loginContainer {
  margin: 20px;
  color: White;
  width: 25vw !important;
  z-index: 9;
}

.container {
    padding: 30px;
}

@media only screen and (max-width: 1366px) {
.containerAll {
  padding-top: 50px;
  height: 100vh;
}}
@media only screen and (max-width: 900px) {
  .loginContainer {
    width: 90vw !important;
  }
  .containerAll {
    padding-top: 50px;
    height: fit-content
}
}
@media only screen and (max-width: 800px) {
    
    .containerAll {
        height: fit-content;
      padding-top: 50px;
    }
}

@media only screen and (max-width: 550px) {
  .containerAll {
    padding-top: 50px;
  }
  .customRes {
    padding-top: 70px !important;
  }
  .animatedButton {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
}
