.rcButton{
    
    background-color: transparent;
    border-radius: 15px;
    border:none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .5px;
}
.rcButton:hover{
    color: #1da1f2;
    cursor: pointer;
    transition: .2s ;
}