.rp_header {
  border-left: 1px solid #9d9d9d3a;
  padding: 0 10px;
}

.rp_content {
  top: 0;
  padding: 0.1em;
  position: sticky;
  height: 100vh;
}
.rp_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  padding-left: 10px;
  margin-left: 20px;
}
.catContainer {
  padding: 10px;
  background-color: #2c74b32d;
}
.catList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showMore {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 750px) {
  .rightpane {
    display: none;
  }
}
