.customnav{
    background: #0A2647 ;
}
.responsiveNavBar{
    display: none;
}

@media only screen and (max-width: 750px) {
    .responsiveNavBar{
        display: block;
    }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 480px) {
}
