.leftpane {
  padding-left: 25px;
  padding-right: 11rem;
}

.containerx {
  background-color: #0a2647;
  left: 0;
  position: fixed;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

header {
  display: block;
  color: white;
  font-weight: 900;
  font-size: 25px;
  height: 38px;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 8px;
}
.logo6 {
  height: 1.3em;
  margin-right: 0.3em;
}
.logo5 {
  height: 1.3em;
  margin: 0.3em;
}

/* nav {
  height: 50vh;
  padding-right: 1em;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

nav > * {
  border: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.176);
  font-size: 1.3em;
  /* width: 100%; */
  /* cursor: pointer; */
  border-radius: 0.5em;
}
.hieght-vh {
  height: 80vh;
}
nav >,
.span:hover {
  color: #1da0f252;
  background: #a3a3a315;
  transition: 0.3s ease-out;
  /* color: white ; */
}

.child {
  width: 110%;
  background-color: rgba(255, 255, 255, 0.064);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: small;
  position: relative;
  z-index: 1;
  display: none;
}

.parent:hover .child {
  display: block;
}

@media only screen and (max-width: 750px) {
  .leftpane {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .leftpane {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
}
