body {
  /* background-color:  231, 169, 169); */
  font-family: "Cairo";
  font-weight: 900;
}
.App {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(135, 220, 241, 0.588); */
  /* height: calc(100vh - 2px); */
}


@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 480px) {
}
